[Desktop Entry]
Name=RadicOS default

X-KDE-PluginInfo-Name=Azul-RadicOS
X-KDE-PluginInfo-Author=Robin Radic
X-KDE-PluginInfo-Email=robin@radic.nl
X-KDE-PluginInfo-License=GPLv2

